.card__rs {
    /* width: 90%; */
    /* margin-left: 3%; */
    /* margin-right: 6%; */
    margin-top: 3%;
    color: white;
    border-radius: 20px;
}

.bar__rs {
    width: 92%;
    margin: auto;
    overflow: hidden;
}

.example-full-width__rs {
    color: white;
}


/* .form {
    margin-left: 77%;
} */

.subcard__rs {
    /* margin-top: 1.5%; */
    /* margin-left: 1.8%; */
    border-radius: 20px;
    background-color: lightskyblue;
    overflow-x: hidden;
    overflow-x: hidden;
    overflow-y: hidden !important;
    min-height: inherit;
    max-height: inherit;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    position: relative;
    padding: 16px;
    /* background: #fff; */
    color: rgba(0,0,0,.87);
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.row1__rs::-webkit-scrollbar::-webkit-scrollbar {
    display: none;
}

.row1__rs {
    margin: auto;
    width: 99.95%;
    margin-top: 20px;
    overflow-x: hidden;
    overflow-y: hidden !important;
    min-height: inherit;
    max-height: inherit;
    overflow-x: hidden;
    overflow-y: auto;
}

@media only screen and (min-height: 700px) {
    .bar__rs {
        overflow: hidden;
    }
}

.avatar__rs {
    height: 4.5rem;
    /* width: 3.7rem; */
    border-radius: 50%;
    cursor: pointer;
    display: block;
    border-style: solid;
    border-width: 7px;
    /* color: white */
}

.avatar__rs:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fname__rs {
    display: block;
    float: right;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.1rem;
    font-family: "Roboto", sans-serif;
}

.page__rs {
    /* bottom: 0;
    position: absolute; */
    width: fit-content;
    margin: auto;
    padding-right: 40px;
}

.table_card__rs {
    overflow: hidden !important;
    border-radius: 20px;
    /* margin-top: 1.5%; */
    /* margin-left: 5%; */
    /* height: 100%; */
    height: max-content;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    position: relative;
    padding: 16px;
    background: #fff;
    color: rgba(0,0,0,.87);
    font-family: Roboto, "Helvetica Neue", sans-serif;

}

.spin__rs ::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
    stroke: #065b9a;
}

/* .li__rs {
    text-align: center !important;
} */
.pagination-bar__rs {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .pg__rs{
    width: 35%;
    margin: auto;
  }
