.card1__ms {
    margin-top: 3%;
    color: white;
    border-radius: 20px;
  }
  
  .sub__ms {
    border-radius: 20px;
  }
  
  .row1__ms {
    margin: auto;
    margin-top: 20px;
  }
  
  .example-full-width__ms {
    color: white;
  }
  
  .form__ms {
    margin-left: 77%;
  }
  
  .subcard__ms {
    margin-top: 1.5%;
    border-radius: 20px;
    background-color: lightskyblue !important;
    overflow-x: hidden;
    overflow-x: hidden;
    overflow-y: hidden !important;
    min-height: inherit;
    max-height: inherit;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%) !important;
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1) !important;
    display: block !important;
    position: relative !important;
    padding: 16px !important;
    color: rgba(0,0,0,.87) !important;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }
  
  .row__ms::-webkit-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  @media only screen and (min-height: 700px) {
    .bar__ms {
      overflow: hidden;
    }
  }
  
  .pagination__ms table {
    display: inline-block;
    margin-left: 70%;
  }
  
  .page__ms {
    /* margin-top: 40px; */
    bottom: 0;
    /* position: absolute; */
    width: fit-content;
    margin: auto;
    padding: 0;
    margin: auto;
    padding-right: 40px;
  }
  
  .table_card__ms {
    overflow: hidden !important;
    border-radius: 20px;
    height: fit-content;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    position: relative;
    padding: 16px;
    background: #fff;
    color: rgba(0,0,0,.87) !important;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }
  
  .avatar__ms {
    height: 4.5rem;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    border-style: solid;
    border-width: 7px;
  }
  
  .avatar__ms:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .fname__ms {
    display: block;
    float: right;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.1rem;
    font-family: "Roboto", sans-serif;
  }
  
  .main_table__ms {
    border-radius: 20px;
    /* height: 520px; */
    height: fit-content;
  }
  
  .spin__ms ::ng-deep .mat-progress-spinner__ms circle,
  .mat-spinner__ms circle {
    stroke: #065b9a;
  }