body {
    background-image: url('../../assets/bg-01.svg');
    max-height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #7b8a9b !important;
}

.akg-logo__home {
    padding-left: 20px;
    padding-top: 20px;
}

.h1__home {
    font-weight: bolder;
    text-align: center;
}

.footer__home {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: right;
    border: 10px;
    ;
}

.h4__home {
    margin-bottom: 00px;
    margin-right: 20px;
}

.brl-logo__home {
    height: 7em;
    margin-right: 20px;
}

.column {
    float: left;
    padding: 10px;
}

.column.side {
    width: 25%;
}

.column.middle {
    width: 50%;
}

.row__home:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column.side {
        display: none;
    }
    .column.middle {
        width: 100%;
    }
}

.h2__home {
    text-align: center;
}

.btn__home {
    width: 100%;
    color: white;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.shadow-hover__home:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
    transition: 0.5s;
    transform: scale(1.05);
}

.card1__home {
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2em;
    z-index: 100;
}